services:
  db:
    image: postgres:18-alpine
    container_name: clever_assignment_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    ports:
      - "5432:5432"
  web:
    build: .
    container_name: clever_assignment_webapp
    working_dir: /code
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env
    environment:
      POSTGRES_HOST: db

volumes:
  postgres_data:
